body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    width: 80%;
    margin: 3rem;
}

.ring-container {
    margin: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ring {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 50%;
    margin: 0 auto;
    transition: width 0.3s, height 0.3s;
}

.ruler {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
}

.measurement {
    position: absolute;
    top: -5px;
    left: 0;
    width: 1px;
    height: 10px;
    background-color: #000;
}

.diameter {
    margin-top: 10px;
}

.controls {
    margin: 10px 0;
}

#sizeRange {
    display: block;
}

#ringSize {
    font-weight: bold;
    font-size: 24px;
    margin: 0 10px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    width: 100%;
    top: 0;
}

.logo img {
    width: 100px;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    nav ul.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 44px;
        right: 0;
        width: 100%;
        
    }

    nav ul li {
        margin-right: 0;
        margin: 10px;
    }
    header{
        width: 90%;

    }
}
